<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.byters.bcshoppinglist">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".controllers.Core"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".ui.activity.ActivityShoppingList" />
        <activity
            android:name=".ui.activity.ActivityMarketList"
            android:label="@string/activity_market_list_label" />
        <activity
            android:name=".ui.activity.ActivityMarketMap"
            android:label="@string/activity_map_label" />
        <activity android:name=".ui.activity.ActivityMenu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
